#box1{background-color: beige;
    border: 1px solid black;
    color:blueviolet;
    font-size: medium;
    font-size: medium;font-family:'Times New Roman', Times, serif;}

#box2{ background-color: beige;
    border: 1px solid black;
    color:blueviolet;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;}